Repository adobecom/unity, pull requests merged in 2025-02, with the labels that each got.

#210 [MWPW-160436]:- Express Text-To-Image Prompt bar/Floating Prompt Bar
  unitylibs/core/workflow/workflow-ai/action-binder.js
  unitylibs/core/workflow/workflow-ai/service-handler.js
  unitylibs/core/workflow/workflow-ai/target-config.json
  unitylibs/core/workflow/workflow-ai/widget.css
  unitylibs/core/workflow/workflow-ai/widget.js
  unitylibs/core/workflow/workflow.js
  unitylibs/img/icons/close-btn.svg
  unitylibs/img/icons/info.svg
  unitylibs/img/icons/prompt.svg
  unitylibs/img/icons/refresh-btn.svg
  unitylibs/img/icons/search.svg
  unitylibs/scripts/utils.js
Labels: verified, express

#218 [MWPW-167163][MWPW-167167]:- Express Text to Image Bug fixes
  unitylibs/core/workflow/workflow-ai/action-binder.js
  unitylibs/core/workflow/workflow-ai/widget.css
Labels: bug fix, verified, express

#222 [Release] Stage to Main
  unitylibs/core/workflow/workflow-ai/action-binder.js
  unitylibs/core/workflow/workflow-ai/service-handler.js
  unitylibs/core/workflow/workflow-ai/target-config.json
  unitylibs/core/workflow/workflow-ai/widget.css
  unitylibs/core/workflow/workflow-ai/widget.js
  unitylibs/core/workflow/workflow.js
  unitylibs/img/icons/close-btn.svg
  unitylibs/img/icons/info.svg
  unitylibs/img/icons/prompt.svg
  unitylibs/img/icons/refresh-btn.svg
  unitylibs/img/icons/search.svg
  unitylibs/scripts/utils.js
Labels: verified, v2.7.0

#225 MWPW-167318-Temporary load express page in CC with Unity V2
  unitylibs/core/workflow/workflow.js
Labels: verified, express

#229 MWPW-166350 Updating validations and error handling for MFU uploads
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat

#228 [Release] Stage to Main
  unitylibs/core/workflow/workflow.js
Labels: verified, v2.7.1

#205 MWPW-157950 | Migrating PS to unity V2 for performance, flexibility and fast follows
  unitylibs/core/features/progress-circle/progress-circle.css
  unitylibs/core/features/progress-circle/progress-circle.js
  unitylibs/core/styles/styles.css
  unitylibs/core/workflow/workflow-photoshop/action-binder.js
  unitylibs/core/workflow/workflow-photoshop/service-handler.js
  unitylibs/core/workflow/workflow-photoshop/sprite.svg
  unitylibs/core/workflow/workflow-photoshop/target-config.json
  unitylibs/core/workflow/workflow-photoshop/widget.js
  unitylibs/core/workflow/workflow.js
  unitylibs/scripts/utils.js
Labels: verified, photoshop

#212 MWPW-166942 Update Kodiak config.yaml
  .kodiak/config.yaml
Labels: platform

#224 MWPW-166261 Multi File Upload
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat

#235 MWPW-166261-Support multi file upload use case
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat

#238 [MWPW-167093, MWPW-167299]:- Text To Image migration Performance and Bug fixes.
  unitylibs/core/workflow/workflow-ai/action-binder.js
  unitylibs/core/workflow/workflow-ai/sprite.svg
  unitylibs/core/workflow/workflow-ai/widget.css
  unitylibs/core/workflow/workflow-ai/widget.js
  unitylibs/core/workflow/workflow.js
  unitylibs/img/icons/close-btn.svg
  unitylibs/img/icons/info.svg
  unitylibs/img/icons/prompt.svg
  unitylibs/img/icons/refresh-btn.svg
  unitylibs/img/icons/search.svg
Labels: bug fix, enhancement, express

#249 MWPW-166261 Multi File Upload
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat

#258 [MWPW-167590, MWPW-167592, MWPW-167299] Text to image Enhancement and bug fixes
  unitylibs/core/workflow/workflow-ai/action-binder.js
  unitylibs/core/workflow/workflow-ai/widget.css
  unitylibs/core/workflow/workflow-ai/widget.js
Labels: bug fix, enhancement, express, verify on stage

#256 Stablize mfu progress bar for signed in user
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat

#263 [Release] Stage to Main
  .kodiak/config.yaml
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-ai/action-binder.js
  unitylibs/core/workflow/workflow-ai/sprite.svg
  unitylibs/core/workflow/workflow-ai/widget.css
  unitylibs/core/workflow/workflow-ai/widget.js
  unitylibs/core/workflow/workflow.js
  unitylibs/img/icons/close-btn.svg
  unitylibs/img/icons/info.svg
  unitylibs/img/icons/prompt.svg
  unitylibs/img/icons/refresh-btn.svg
  unitylibs/img/icons/search.svg
  unitylibs/scripts/utils.js
Labels: verified, v2.7.2

#262 MWPW-166261-Support multi file upload use case
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat, verify on stage

#260 MWPW-167747 Optimize acrobat action binder with separated upload logic
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/service-handler.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: acrobat, verify on stage

#265 MWPW-167747 Fixing upload handler for mfu
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: acrobat, verify on stage

#269 [Release] Stage to Main
  unitylibs/core/features/progress-circle/progress-circle.css
  unitylibs/core/styles/styles.css
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/service-handler.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow-photoshop/action-binder.js
  unitylibs/core/workflow/workflow-photoshop/service-handler.js
  unitylibs/core/workflow/workflow-photoshop/sprite.svg
  unitylibs/core/workflow/workflow-photoshop/target-config.json
  unitylibs/core/workflow/workflow-photoshop/widget.js
Labels: verified, v2.8.0

#209 [MWPW-164727] Updates for hlx5 migration
  .github/pull_request_template.md
  test/scripts/utils.test.js
  tools/sidekick/config.json
  unitylibs/blocks/unity/unity.js
  unitylibs/scripts/errors.js
  unitylibs/scripts/utils.js
Labels: verify on stage, platform

#271 MWPW-165545 | Acrobat Batch 1a verbs
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow.js
Labels: acrobat, verify on stage

#273 MWPW-163640: Refactor token retrieval in common utils to use refreshToken
  unitylibs/core/steps/upload-step.js
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-ai/service-handler.js
  unitylibs/core/workflow/workflow-photoshop/action-binder.js
  unitylibs/core/workflow/workflow-photoshop/workflow-photoshop.js
  unitylibs/scripts/utils.js
Labels: verify on stage, platform

#277 [MWPW-168306, MWPW-168382] Enhancing logging of acrobat workflow errors
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: acrobat, verify on stage

#283 MWPW-168306 Ensure account type error toast is not visible on page load
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat, verify on stage

#284 MWPW-168484 Refactor Acrobat workflow for scalability
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/limits.json
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow.js
Labels: acrobat, verify on stage
