Repository adobecom/unity, pull requests merged in 2025-03, with the labels that each got.

#279 MWPW-163640: [BugFix] Refactor token retrieval in common utils to use refreshToken
  unitylibs/core/steps/app-connector.js
  unitylibs/core/steps/upload-step.js
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-ai/service-handler.js
  unitylibs/core/workflow/workflow-photoshop/action-binder.js
  unitylibs/core/workflow/workflow-photoshop/workflow-photoshop.js
  unitylibs/scripts/utils.js
Labels: bug fix, verify on stage

#292 MWPW-168382 Updating error logging for acrobat workflow
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: acrobat, verify on stage

#285 [MWPW-164024]:- Unity Service Health check
  unitylibs/blocks/healthcheck/healthcheck.css
  unitylibs/blocks/healthcheck/healthcheck.js
  unitylibs/blocks/healthcheck/service-config.json
  unitylibs/img/healthcheck.jpeg
Labels: enhancement, verify on stage, platform

#290 MWPW-163637 [Acrobat] Switch to new Finalize API contract
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: acrobat, verify on stage

#296 Fixing the acrobat finalize header failure
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: bug fix, acrobat

#297 MWPW-169130 & MWPW-169218 | PS V2 | [Iphone][loc rtl] Fixing max width for changebg options
  unitylibs/core/styles/styles.css
  unitylibs/core/workflow/workflow-photoshop/widget.css
Labels: photoshop, verify on stage

#299 [Release] Stage Updates for v2.9.0
  unitylibs/blocks/healthcheck/healthcheck.css
  unitylibs/blocks/healthcheck/healthcheck.js
  unitylibs/blocks/healthcheck/service-config.json
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/img/healthcheck.jpeg
Labels: v2.9.0

#300 MWPW-169302 & MWPW-169285 | Making the widget consistent with figma and faster thumbnail loading
  unitylibs/core/styles/styles.css
  unitylibs/core/workflow/workflow-photoshop/widget.css
  unitylibs/core/workflow/workflow-photoshop/widget.js
Labels: photoshop, verify on stage

#301 MWPW-169374 | Remove underline from button text from mobile in V2
  unitylibs/core/styles/styles.css
Labels: photoshop, verify on stage

#291 Limit configured for Batch1b acrobat verbs
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/limits.json
  unitylibs/core/workflow/workflow.js
Labels: acrobat, verify on stage

#305 [MWPW-163640] : Refactor token retrieval in common utils to use refreshToken
  unitylibs/blocks/healthcheck/healthcheck.js
  unitylibs/core/steps/app-connector.js
  unitylibs/core/steps/upload-step.js
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-ai/service-handler.js
  unitylibs/core/workflow/workflow-photoshop/action-binder.js
  unitylibs/core/workflow/workflow-photoshop/workflow-photoshop.js
  unitylibs/scripts/utils.js
Labels: verified, platform

#306 MWPW-168306 Retrieving user state from Server-Timing header
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: bug fix, acrobat, needs verification, verified

#304 [MWPW-163643]:- Express Unit Test
  test/core/workflow/mocks/text2image-body.html
  test/core/workflow/workflow-ai.test.js
Labels: platform

#309 [Release] Stage to Main
  .github/pull_request_template.md
  package.json
  test/assets/img.svg
  test/assets/media_.jpeg
  test/blocks/unity/mocks/body.html
  test/blocks/unity/unity.test.js
  test/core/workflow/mocks/dc-body.html
  test/core/workflow/mocks/ps-body.html
  test/core/workflow/mocks/splash.plain.html
  test/core/workflow/mocks/text2image-body.html
  test/core/workflow/workflow-ai.test.js
  test/core/workflow/workflow.acrobat.test.js
  test/core/workflow/workflow.photoshop.test.js
  test/scripts/utils.test.js
  tools/sidekick/config.json
  unitylibs/blocks/healthcheck/healthcheck.js
  unitylibs/blocks/unity/unity.js
  unitylibs/core/steps/app-connector.js
  unitylibs/core/steps/upload-step.js
  unitylibs/core/styles/styles.css
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow-ai/service-handler.js
  unitylibs/core/workflow/workflow-photoshop/action-binder.js
  unitylibs/core/workflow/workflow-photoshop/widget.css
  unitylibs/core/workflow/workflow-photoshop/widget.js
  unitylibs/core/workflow/workflow-photoshop/workflow-photoshop.js
  unitylibs/core/workflow/workflow.js
  unitylibs/scripts/errors.js
  unitylibs/scripts/utils.js
  web-test-runner.config.mjs
Labels: verified, v2.9.1

#319 MWPW-169987 API Enhancements for Verb Attribution in Service Dashboards
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/scripts/utils.js
Labels: acrobat, needs verification, verified

#312 UTs for common header and token function
  test/scripts/utils.test.js
Labels: platform, ready for stage

#316 [MWPW-169793] Finalize API Exceptions
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: bug fix, acrobat, verified, ready for stage

#317 MWPW-169794: Investigate Asset API 400 and 500 Errors
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/utils/FileUtils.js
Labels: bug fix, acrobat, verified, ready for stage

#323 MWPW-170490 Avoid setting Content-Length to 0 if not present
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: bug fix, acrobat, verified

#322 [Release] Stage to Main
  test/scripts/utils.test.js
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow.js
  unitylibs/scripts/utils.js
  unitylibs/utils/FileUtils.js
Labels: verified, v2.9.2

#325 [Release] Stage to Main
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: needs verification, verified, v2.9.3

#314 MWPW-167050 Acrobat Batch 1b
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/limits.json
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow.js
  unitylibs/scripts/transition-screen.js
Labels: acrobat, verified

#327 Fixing getUnityLibs undefined error in upload-handler
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat, verified

#321 Adding unity user status (new vs returning) in redirect url
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat, verified

#328 MWPW-168591-CC configurable widget
  test/core/workflow/mocks/upload-body.html
  test/core/workflow/workflow.upload.test.js
  unitylibs/core/styles/splash-screen.css
  unitylibs/core/styles/styles.css
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/core/workflow/workflow-upload/target-config.json
  unitylibs/core/workflow/workflow.js
Labels: needs verification, verified, photoshop
