Repository adobecom/unity, pull requests merged in 2025-06, with the labels that each got.

#466 Firefly accessibility updates
  unitylibs/core/workflow/workflow-firefly/action-binder.js
  unitylibs/core/workflow/workflow-firefly/widget.css
  unitylibs/core/workflow/workflow-firefly/widget.js
Labels: verified, firefly

#453 Adding support to show info toast on product (Required for merge-pdf)
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat

#470 Handling duplicate feedback=uploaderror addition in redirect url
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: bug fix, acrobat, verify on stage

#462 Syncing uploadMultiFIle function with the version on main
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: acrobat, verify on stage, run-nala

#474 [Release] Stage to Main
  .eslintrc.cjs
  .github/workflows/run-lint.yaml
  .github/workflows/run-nala-label.yml
  .gitignore
  README.md
  nala/assets/1-PDF-AddPageNumbers-pdf.pdf
  nala/assets/1-PDF-compress-pdf.pdf
  nala/assets/1-PDF-crop-pdf.pdf
  nala/assets/1-PDF-pdf-editor.pdf
  nala/assets/1-PDF-split-pdf.pdf
  nala/features/add-pdf/add-pdf-number.page.cjs
  nala/features/add-pdf/add-pdf-number.spec.cjs
  nala/features/add-pdf/add-pdf-number.test.cjs
  nala/features/compress-pdf/compress-pdf.page.cjs
  nala/features/compress-pdf/compress-pdf.spec.cjs
  nala/features/compress-pdf/compress-pdf.test.cjs
  nala/features/crop-pdf/crop-pdf.page.cjs
  nala/features/crop-pdf/crop-pdf.spec.cjs
  nala/features/crop-pdf/crop-pdf.test.cjs
  nala/features/pdf-editor/pdf-editor.page.cjs
  nala/features/pdf-editor/pdf-editor.spec.cjs
  nala/features/pdf-editor/pdf-editor.test.cjs
  nala/features/split-pdf/split-pdf.page.cjs
  nala/features/split-pdf/split-pdf.spec.cjs
  nala/features/split-pdf/split-pdf.test.cjs
  nala/libs/baseurl.cjs
  nala/utils/base-reporter.cjs
  nala/utils/global.setup.cjs
  nala/utils/nala.run.cjs
  nala/utils/pr.run.sh
  nala/utils/slack.cjs
  package-lock.json
  package.json
  playwright.config.cjs
  test/core/workflow/mocks/ff-body.html
  test/core/workflow/workflow.firefly.test.js
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/limits.json
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow-firefly/action-binder.js
  unitylibs/core/workflow/workflow-firefly/sprite.svg
  unitylibs/core/workflow/workflow-firefly/target-config.json
  unitylibs/core/workflow/workflow-firefly/widget.css
  unitylibs/core/workflow/workflow-firefly/widget.js
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/core/workflow/workflow.js
  unitylibs/scripts/splunk-analytics.js
Labels: acrobat, verified, firefly, v2.12.0

#475 [MWPW-174467][NALA]Add automation tests for batch 1Bverbs
  nala/assets/1-PDF-delete-pdf.pdf
  nala/assets/1-PDF-extract-pages-pdf.pdf
  nala/assets/1-PDF-rearrange-pdf.pdf
  nala/assets/1-PDF-request-signature-pdf.pdf
  nala/features/delete-pdf/delete-pdf.page.cjs
  nala/features/delete-pdf/delete-pdf.spec.cjs
  nala/features/delete-pdf/delete-pdf.test.cjs
  nala/features/extract-pages/extract-pdf.page.cjs
  nala/features/extract-pages/extract-pdf.spec.cjs
  nala/features/extract-pages/extract-pdf.test.cjs
  nala/features/pdf-editor/pdf-editor.spec.cjs
  nala/features/rearrange-pdf/rearrange.page.cjs
  nala/features/rearrange-pdf/rearrange.spec.cjs
  nala/features/rearrange-pdf/rearrange.test.cjs
  nala/features/request-signature/request-signature.page.cjs
  nala/features/request-signature/request-signature.spec.cjs
  nala/features/request-signature/request-signature.test.cjs
Labels: run-nala

#477 [Release] Stage to Main
  nala/assets/1-PDF-delete-pdf.pdf
  nala/assets/1-PDF-extract-pages-pdf.pdf
  nala/assets/1-PDF-rearrange-pdf.pdf
  nala/assets/1-PDF-request-signature-pdf.pdf
  nala/features/delete-pdf/delete-pdf.page.cjs
  nala/features/delete-pdf/delete-pdf.spec.cjs
  nala/features/delete-pdf/delete-pdf.test.cjs
  nala/features/extract-pages/extract-pdf.page.cjs
  nala/features/extract-pages/extract-pdf.spec.cjs
  nala/features/extract-pages/extract-pdf.test.cjs
  nala/features/pdf-editor/pdf-editor.spec.cjs
  nala/features/rearrange-pdf/rearrange.page.cjs
  nala/features/rearrange-pdf/rearrange.spec.cjs
  nala/features/rearrange-pdf/rearrange.test.cjs
  nala/features/request-signature/request-signature.page.cjs
  nala/features/request-signature/request-signature.spec.cjs
  nala/features/request-signature/request-signature.test.cjs
  unitylibs/scripts/transition-screen.js
Labels: acrobat, verified, photoshop, v2.12.1

#480 [MWPW-174834] Fallback to file extension if MIME type is absent for determining file type
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/limits.json
  unitylibs/utils/FileUtils.js
Labels: bug fix, acrobat, needs verification

#481 Fix for workflow getting stuck at transition screen if asset api fails
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat

#485 [Release] Stage to Main
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/limits.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow-firefly/widget.css
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/utils/FileUtils.js
Labels: acrobat, verified, photoshop, firefly, v2.12.2

#484 [MWPW-171797] Introduce timeout to all fetch calls being made
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: bug fix, acrobat

#476 [MWPW-174632] Getting 'unable to process the request' error toast for 'Empty File + Max File Size' upload for 2b/2c
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: bug fix, acrobat, run-nala

#486 Sending error object in addition to error message in case of IMS token failures
  unitylibs/scripts/utils.js
Labels: bug fix, acrobat

#489 [Release] Stage to Main
  unitylibs/core/styles/splash-screen.css
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-firefly/action-binder.js
  unitylibs/scripts/transition-screen.js
  unitylibs/scripts/utils.js
Labels: acrobat, verified, photoshop, firefly, run-nala, v2.12.3
