Repository adobecom/unity, pull requests merged in 2025-05, with the labels that each got.

#381 [MWPW-172579] Capture in flight events in Dashboard
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: enhancement, acrobat

#388 MWPW-172470 [Stage Only] Preserve all A.com query params when redirecting to product
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/scripts/utils.js
Labels: acrobat, needs verification

#392 Fixing signed in user mfu upload issue
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat

#393 Pushing the mfu signed in user fix to stage for testing
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat

#387 [Release] Hotfix to Main
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/scripts/utils.js
Labels: acrobat, verified

#382 2b config changes
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/limits.json
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow.js
Labels: acrobat

#398 [MWPW-173293] Fix code exceptions which contributes to generic errors
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat, verified

#404 [MWPW-173435] Fix error sub code issue
  unitylibs/core/workflow/workflow-upload/action-binder.js
Labels: verified, photoshop

#397 Implementing delete asset functionality for the scenarios where post upload validation fails
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: acrobat

#395 [MWPW-173034] Added files count check for acrobat workflow
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat

#399 [MWPW-172186] Fix accessibility issues on transition screen
  unitylibs/core/styles/splash-screen.css
  unitylibs/scripts/transition-screen.js
Labels: acrobat, verified, photoshop

#406 [MWPW-173471] Make Photoshop web redirect on desktop configurable through authoring
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/core/workflow/workflow.js
Labels: verified, photoshop

#409 [MWPW-172411]: Firefly Prompt Suggestion
  unitylibs/core/workflow/workflow-firefly/action-binder.js
  unitylibs/core/workflow/workflow-firefly/service-handler.js
  unitylibs/core/workflow/workflow-firefly/target-config.json
  unitylibs/core/workflow/workflow-firefly/widget.js
Labels: photoshop

#403 [Release] Stage to Main
  test/utils/device.detection.test.js
  unitylibs/core/styles/splash-screen.css
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/limits.json
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/core/workflow/workflow-upload/target-config.json
  unitylibs/core/workflow/workflow.js
  unitylibs/scripts/scripts.js
  unitylibs/scripts/splunk-analytics.js
  unitylibs/scripts/transition-screen.js
  unitylibs/utils/device-detection.js
Labels: acrobat, needs verification, verified, photoshop, v2.11.0

#410 Fix for sfu post validation check break
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat

#413 non pdf handling for 2b 2c
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: acrobat

#402 [MWPW-171406] [MWPW-171765] Acrobat: Batch2b and Batch2c Verbs
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/limits.json
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow.js
Labels: acrobat, needs verification, verified

#422 Fix verb dropdown item click
  unitylibs/core/workflow/workflow-firefly/widget.js
Labels: bug fix

#417 [MWPW-173653] Refactor the Splunk logging code for diagnostic dashboard to enable reuse across other workflows and products
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/scripts/splunk-analytics.js
Labels: verified, platform

#428 MWPW-173354 Retrieving user type from IMS access token object
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/scripts/utils.js
Labels: bug fix, acrobat

#426 [MWPW-173667] Upload errors are also exceptions which could be coming before uplaoding
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat

#432 MWPW173666 : Incase of input validation failures, no event goes not even choose file event.
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: bug fix, acrobat

#434 [MWPW-173835] Fix cancel cta issue
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat, verified

#433 MWPW-173354 Adding enhanced logging for access token errors
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/scripts/utils.js
Labels: acrobat

#436 [MWPW-173836] Getting 'unable to process the request' for all kind of toast errors
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: bug fix, acrobat

#425 [Release] Hotfix to Main
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/scripts/splunk-analytics.js
  unitylibs/scripts/utils.js
Labels: acrobat, needs verification, verified, photoshop, v2.11.1

#440 [MWPW-172411] Firefly workflow
  test/core/workflow/mocks/ff-body.html
  test/core/workflow/workflow.firefly.test.js
  unitylibs/core/workflow/workflow-firefly/action-binder.js
  unitylibs/core/workflow/workflow-firefly/sprite.svg
  unitylibs/core/workflow/workflow-firefly/target-config.json
  unitylibs/core/workflow/workflow-firefly/widget.css
  unitylibs/core/workflow/workflow-firefly/widget.js
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/core/workflow/workflow.js
  unitylibs/scripts/splunk-analytics.js
Labels: verified, firefly

#449 Mobile prompt truncated to one line
  unitylibs/core/workflow/workflow-firefly/widget.css
Labels: bug fix

#452 [Nala][UNITY] Update the playwright config file extension.
  nala/utils/pr.run.sh
Labels: run-nala

#446 Error toast shown on Unity for split second before redirecting to product. SEndig uploaderror string to product in case of mfu
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat, run-nala

#444 [DCXY-30432] Update prefetch logic to append additional params to the url during prefetch
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: bug fix, acrobat

#458 MWPW-174131 : Unable to upload on stage A.com page if user is already signed in
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat, verify on stage

#459 [MWPW-174142] Fix alignment of tip section when text goes to next line
  unitylibs/core/workflow/workflow-firefly/widget.css
Labels: verified, firefly

#461 Firefly UI fixes
  unitylibs/core/workflow/workflow-firefly/widget.css
Labels: verified, firefly, run-nala
