Repository adobecom/unity, pull requests merged in 2025-09, with the labels that each got.

#546 [MWPW-178408]Fix jp page alignment issue for generate button on mobile
  unitylibs/core/workflow/workflow-firefly/widget.css
Labels: verified, firefly

#554 [Release] Stage to Main
  test/utils/utils.test.js
  unitylibs/core/steps/app-connector.js
  unitylibs/core/steps/upload-btn.js
  unitylibs/core/steps/upload-step.js
  unitylibs/core/workflow/workflow-firefly/widget.css
  unitylibs/core/workflow/workflow-photoshop/workflow-photoshop.css
  unitylibs/core/workflow/workflow-photoshop/workflow-photoshop.js
  unitylibs/core/workflow/workflow.js
  unitylibs/scripts/utils.js
Labels: acrobat, needs verification, verified, photoshop, firefly, v2.12.9

#542 [MWPW-179326] Restructure the network layer and simplify retry logic across acrobat workflows
  test/core/workflow/workflow-acrobat/action-binder.test.js
  test/core/workflow/workflow-acrobat/upload-handler.test.js
  test/utils/NetworkUtils.test.js
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/scripts/utils.js
  unitylibs/utils/NetworkUtils.js
Labels: acrobat, verified

#557 [Release] Stage to Main
  test/core/workflow/workflow-acrobat/action-binder.test.js
  test/core/workflow/workflow-acrobat/upload-handler.test.js
  test/utils/NetworkUtils.test.js
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/scripts/transition-screen.js
  unitylibs/scripts/utils.js
  unitylibs/utils/NetworkUtils.js
Labels: acrobat, verified, photoshop, v2.12.10

#565 [MWPW-180856][NALA] Optimize Nala GitHub Action execution speed by parallelizing browser test runs
  .github/workflows/run-nala-default.yml
  nala/utils/pr.run.sh
Labels: ready for stage

#568 [MWPW-181146]Address security concern with chalk version 5.6.1
  package-lock.json
  package.json
  test/core/workflow/workflow.upload.test.js
Labels: verified

#573 [MWPW-181401][NALA] Temporarily disable pdf-editor test on firefox browser
  nala/features/pdf-editor/pdf-editor.test.cjs
Labels: zero impact

#578 Test commit to sync target-config.json
  unitylibs/core/workflow/workflow-acrobat/target-config.json
Labels: acrobat
