Repository adobecom/unity, pull requests merged in 2025-08, with the labels that each got.

#517 FF unit test coverage updates
  test/core/workflow/workflow.firefly.test.js
Labels: firefly, run-nala

#518 [MWPW-177045] Fix jp legal and tip text css
  unitylibs/core/workflow/workflow-firefly/widget.css
Labels: verified, firefly, run-nala

#515 MWPW-176896 - PS marquee widget mobile-image-bottom flicker
  unitylibs/core/styles/styles.css
Labels: verified, photoshop, run-nala

#525 [MWPW-175627] Optimize loading unity scripts
  nala/features/pdf-editor/pdf-editor.spec.cjs
  test/core/workflow/workflow-acrobat/action-binder.test.js
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-upload/action-binder.js
Labels: enhancement, acrobat, needs verification, photoshop

#529 [MWPW-177528] Delay in file upload across Acrobat and Ps in stage
  nala/features/add-pdf/add-pdf-number.test.cjs
  nala/features/compress-pdf/compress-pdf.test.cjs
  nala/features/crop-pdf/crop-pdf.test.cjs
  nala/features/delete-pdf/delete-pdf.test.cjs
  nala/features/excel-pdf/excel-to-pdf.test.cjs
  nala/features/extract-pages/extract-pdf.test.cjs
  nala/features/jpg-pdf/jpg-to-pdf.test.cjs
  nala/features/pdf-editor/pdf-editor.test.cjs
  nala/features/pdf-excel/pdf-to-excel.test.cjs
  nala/features/pdf-jpg/pdf-to-jpg.test.cjs
  nala/features/pdf-ppt/pdf-to-ppt.test.cjs
  nala/features/pdf-word/pdf-word.test.cjs
  nala/features/png-pdf/png-to-pdf.test.cjs
  nala/features/ppt-pdf/ppt-to-pdf.test.cjs
  nala/features/rearrange-pdf/rearrange.test.cjs
  nala/features/request-signature/request-signature.test.cjs
  nala/features/split-pdf/split-pdf.test.cjs
  nala/features/word-pdf/word-to-pdf.test.cjs
  test/core/workflow/workflow-acrobat/action-binder.test.js
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-upload/action-binder.js
Labels: bug fix, acrobat, verified, photoshop

#532 [Release] Stage to Main
  nala/features/add-pdf/add-pdf-number.test.cjs
  nala/features/compress-pdf/compress-pdf.test.cjs
  nala/features/crop-pdf/crop-pdf.test.cjs
  nala/features/delete-pdf/delete-pdf.test.cjs
  nala/features/excel-pdf/excel-to-pdf.test.cjs
  nala/features/extract-pages/extract-pdf.test.cjs
  nala/features/jpg-pdf/jpg-to-pdf.test.cjs
  nala/features/pdf-editor/pdf-editor.spec.cjs
  nala/features/pdf-editor/pdf-editor.test.cjs
  nala/features/pdf-excel/pdf-to-excel.test.cjs
  nala/features/pdf-jpg/pdf-to-jpg.test.cjs
  nala/features/pdf-ppt/pdf-to-ppt.test.cjs
  nala/features/pdf-word/pdf-word.test.cjs
  nala/features/png-pdf/png-to-pdf.test.cjs
  nala/features/ppt-pdf/ppt-to-pdf.test.cjs
  nala/features/rearrange-pdf/rearrange.test.cjs
  nala/features/request-signature/request-signature.test.cjs
  nala/features/split-pdf/split-pdf.test.cjs
  nala/features/word-pdf/word-to-pdf.test.cjs
  playwright.config.cjs
  test/core/workflow/workflow-acrobat/action-binder.test.js
  test/core/workflow/workflow-acrobat/upload-handler.test.js
  test/core/workflow/workflow.firefly.test.js
  test/core/workflow/workflow.upload.test.js
  test/scripts/utils.test.js
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow-firefly/action-binder.js
  unitylibs/core/workflow/workflow-firefly/sprite.svg
  unitylibs/core/workflow/workflow-firefly/target-config.json
  unitylibs/core/workflow/workflow-firefly/widget.css
  unitylibs/core/workflow/workflow-firefly/widget.js
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/scripts/utils.js
Labels: acrobat, needs verification, verified, firefly, v2.12.7

#534 [MWPW-174787] Fix slider for RTL
  unitylibs/core/workflow/workflow-photoshop/widget.css
  unitylibs/core/workflow/workflow-photoshop/widget.js
Labels: verified, photoshop

#535 [MWPW-176300] FF defer loading icons
  unitylibs/core/styles/styles.css
  unitylibs/core/workflow/workflow-firefly/action-binder.js
  unitylibs/core/workflow/workflow-firefly/widget.css
  unitylibs/core/workflow/workflow-firefly/widget.js
Labels: verified, firefly

#540 Fix Nala tests "skipping" URL validation
  nala/features/add-pdf/add-pdf-number.test.cjs
  nala/features/compress-pdf/compress-pdf.test.cjs
  nala/features/crop-pdf/crop-pdf.test.cjs
  nala/features/delete-pdf/delete-pdf.test.cjs
  nala/features/excel-pdf/excel-to-pdf.test.cjs
  nala/features/extract-pages/extract-pdf.test.cjs
  nala/features/jpg-pdf/jpg-to-pdf.test.cjs
  nala/features/pdf-editor/pdf-editor.test.cjs
  nala/features/pdf-excel/pdf-to-excel.test.cjs
  nala/features/pdf-jpg/pdf-to-jpg.test.cjs
  nala/features/pdf-ppt/pdf-to-ppt.test.cjs
  nala/features/pdf-word/pdf-word.test.cjs
  nala/features/png-pdf/png-to-pdf.test.cjs
  nala/features/ppt-pdf/ppt-to-pdf.test.cjs
  nala/features/rearrange-pdf/rearrange.test.cjs
  nala/features/request-signature/request-signature.test.cjs
  nala/features/split-pdf/split-pdf.test.cjs
  nala/features/word-pdf/word-to-pdf.test.cjs
  playwright.config.cjs
Labels: bug fix, platform
