Repository adobecom/unity, pull requests merged in 2025-07, with the labels that each got.

#493 IMS error logging improvement - Phase 1
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/scripts/utils.js
Labels: bug fix, acrobat

#495 [MWPW-175937] Unity linting fixes
  .eslintrc.cjs
  nala/libs/baseurl.cjs
  nala/utils/slack.cjs
  package.json
  test/core/workflow/workflow.acrobat.test.js
  test/core/workflow/workflow.photoshop.test.js
  test/core/workflow/workflow.upload.test.js
  unitylibs/blocks/healthcheck/healthcheck.js
  unitylibs/blocks/unity/unity.js
  unitylibs/core/steps/app-connector.js
  unitylibs/core/steps/upload-btn.js
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow-photoshop/action-binder.js
  unitylibs/core/workflow/workflow-photoshop/widget.js
  unitylibs/core/workflow/workflow-photoshop/workflow-photoshop.js
  unitylibs/core/workflow/workflow.js
  unitylibs/scripts/errors.js
  unitylibs/scripts/fallback.js
  unitylibs/scripts/scripts.js
  unitylibs/scripts/splunk-analytics.js
  unitylibs/scripts/transition-screen.js
  unitylibs/scripts/utils.js
  unitylibs/utils/FileUtils.js
Labels: enhancement, acrobat, needs verification, photoshop, express, run-nala

#501 MWPW-176257 Resolve Acrobat Unit Test Errors
  test/core/workflow/workflow-acrobat/action-binder.test.js
  test/core/workflow/workflow-acrobat/upload-handler.test.js
Labels: acrobat, run-nala

#509 Revert target integration PRs
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/target-config.json
Labels: enhancement, acrobat, run-nala

#512 MWPW-176626 : Error handing for missing verb configuration on unity end
  test/core/workflow/workflow-acrobat/action-binder.test.js
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: bug fix, acrobat, needs verification, run-nala
