Repository adobecom/unity, pull requests merged in 2025-04, with the labels that each got.

#330 MWPW-168591- Add error message for image dimension and Update transition screen path
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/core/workflow/workflow-upload/target-config.json
Labels: verified, photoshop

#329 Move the logic to send userType in redirect url to backend
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat, needs verification, verified

#331 [Release] Stage to Main
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: verified, v2.9.4

#335 [MWPW-171051]Enhancement and bug fixes for CC Config Phase 1
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/scripts/transition-screen.js
Labels: verified, photoshop

#333 MWPW-170939 Passing user attempts to Connector API
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat, needs verification, verified, ready for stage

#334 [MWPW-170867]Wait for event dispatched from DC acom code to redirect to acrobat web
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat, verified

#343 [MWPW-170867]-[STAGE] Wait for event dispatched from DC acom code to redirect to acrobat web
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: verified

#340 [MWPW-170867] Fix redirect error for multi file upload
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: acrobat, verified

#345 [MWPW-170874] User token and AWS Security credentials are being logged on splunk
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat, needs verification, verified

#339 [Release] Hotfix to Main
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: acrobat, verified, v2.9.5

#342 Enable Lana Logging in Unity
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/scripts/scripts.js
Labels: photoshop

#348 MWPW-171173- Add analytics events
  unitylibs/core/workflow/workflow-upload/action-binder.js
Labels: verified, photoshop

#352 [MWPW-171366]Fix alignment of text in error toast
  unitylibs/core/styles/styles.css
Labels: needs verification, photoshop

#353 [Release] Stage to Main
  test/core/workflow/mocks/upload-body.html
  test/core/workflow/workflow.upload.test.js
  unitylibs/core/styles/splash-screen.css
  unitylibs/core/styles/styles.css
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/limits.json
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/core/workflow/workflow-upload/target-config.json
  unitylibs/core/workflow/workflow.js
  unitylibs/scripts/transition-screen.js
Labels: acrobat, verified, photoshop, v2.10.0

#351 [MWPW-170803] Develop a simplified and structured analytics view for engineering analysis
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: verified

#355 [MWPW-171287] Fix exception handling in Acrobat workflow
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
Labels: bug fix, acrobat

#338 Restructuring of limit.json for scalability
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/limits.json
Labels: acrobat

#361 Batch2A - Fallback logic in case of single valid file in MFU
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/target-config.json
Labels: acrobat

#364 [MWPW-171722]Code to handle different text for desktop in transition screen
  unitylibs/scripts/transition-screen.js
Labels: verified, photoshop

#365 [MWPW-171794] Added retry for API calls
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: acrobat, verified

#367 [MWPW-171661] Generic error is being logged in splunk for upload errors
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: acrobat, verified

#372 Fixing Error logging on each chunk failure
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: acrobat, verified

#371 [Unity-PS-Phase2]Send analytics data to splunk
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/core/workflow/workflow-upload/target-config.json
  unitylibs/scripts/splunk-analytics.js
Labels: photoshop

#368 [Release] Stage to Main
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/scripts/transition-screen.js
Labels: acrobat, verified, photoshop, v2.10.2

#373 [MWPW-170497] Unity PS phase2
  test/utils/device.detection.test.js
  unitylibs/core/workflow/workflow-upload/action-binder.js
  unitylibs/core/workflow/workflow-upload/target-config.json
  unitylibs/scripts/scripts.js
  unitylibs/scripts/splunk-analytics.js
  unitylibs/utils/device-detection.js
Labels: verified, photoshop

#363 [MWPW-169199] Feature branch for Acrobat Batch 2a verbs
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/limits.json
  unitylibs/core/workflow/workflow-acrobat/target-config.json
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/core/workflow/workflow.js
  unitylibs/scripts/transition-screen.js
Labels: acrobat, verified, ready for stage

#375 [MWPW-172209] Send analytics to capture retry success for chunk upload
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat

#376 Workflow progresses to Finalise call even if cancel is clicked before that
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
Labels: bug fix, acrobat

#378 [Release] Hotfix to Main
  unitylibs/core/workflow/workflow-acrobat/action-binder.js
  unitylibs/core/workflow/workflow-acrobat/upload-handler.js
  unitylibs/scripts/transition-screen.js
Labels: acrobat, verified, v2.10.3

#379 [Blocker] [MWPW-172461] PDF Converter- Raincloud displayed for convert operations
  unitylibs/core/workflow/workflow-acrobat/target-config.json
Labels: bug fix, acrobat, verified
